In [2]:
def check_palindrome(word):
    return word

In [3]:
check_palindrome('Ajay')

'Ajay'

In [4]:
a = 'lucky'
a[::-1]

'ykcul'

In [5]:
a = 'prachi'

if a == a[::-1]:
    print('palindrome')
else:
    print('not a palindrome')

not a palindrome

In [13]:
def check_palindrome(word):
    word = word.upper()
    if word == word[::-1]:
        return 'palindrome'
    else:
        return'not a palindrome'

In [14]:
check_palindrome('nitin')

'palindrome'

In [16]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
        return 'palindrome'
    else:
        return'not a palindrome'
  else:
    return 'Invalid Data Type'

In [21]:
check_palindrome('nitin')

'palindrome'

In [25]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)
    return fibo

In [26]:
print(give_fibo(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [27]:
def check_prime(number):
    for i in range(2, number):
        if number % i == 0:
            return 'Not A Prime Number'
            break
    else:
        return 'prime number'

In [31]:
check_prime(77)

'Not A Prime Number'

In [33]:
n = 5

for i in range(1, n+1):
 print(i* '* ')

*
* *
* * *
* * * *
* * * * *

In [44]:
n = 5

for i in range(1, n+1):
 print(' '*(n-i) + i * '* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [46]:
def print_star(n = 5, typ = 'left'):
    if typ == 'left':
        space = ''
    elif typ == 'right':
        space = '  '
    elif typ == 'centre':
        space = ' '
    for i in range(1, n+1):
         print(' '*(n-i) + i * '* ')

In [47]:
print_star(4,'centre')

   *
  * *
 * * *
* * * *

In [61]:
def sum_of_natural_numbers(n):
    result = 0 
    for i in range(1,n+1):
        result += i
    return result

In [62]:
sum_of_natural_numbers(6)

21

In [65]:
def factorial(n):
  result = 1
  for i in range(1,n+1):
        result *= i
  return result

In [68]:
factorial(3)

6

In [72]:
def print_star(n = 5, typ = 'left',shape = '*'):
    if typ == 'left':
        space = ''
    elif typ == 'right':
        space = '  '
    elif typ == 'centre':
        space = ' '
    for i in range(1, n+1):
        print(space*(n-i) + i*f'{shape} ')

In [74]:
print_star(6,'right','&')

          &
        & &
      & & &
    & & & &
  & & & & &
& & & & & &

In [89]:
def total_sales(*args):
    print(args) #args can call multiple arguments

In [90]:
total_sales(5,1,5,6,8,5,3)

(5, 1, 5, 6, 8, 5, 3)

In [91]:
def total_sales(*args):
    #unpacking
    result = 0
    for i in args:
        result += i
    return result

In [88]:
total_sales(5,4,9,8)

26

In [1]:
sales = [48558,88,99,755,4,555,455]
min_element = sales[0] # assuming element of index 0 is minimum

for i in sales[1:]:
    if i < min_element:
        min_element = i
print(min_element)

4

In [96]:
sales = [48,88,99,755,4,555,455]
max_element = sales[0]

for i in sales[1:]:
    if i > max_element:
        max_element = i
print(max_element)

755

In [104]:
def max(*data):
    max_ele = data[0]
    for i in data[1:]:
        if i > max_ele:
            max_ele = i
    return max_ele

In [105]:
max(100,99,88,75,4,2,66,89)

100

In [106]:
def minn(*data):
    minn_ele = data[0]
    for i in data[1:]:
        if i < minn_ele:
            minn_ele = i
    return minn_ele

In [107]:
minn(1,2,55,66,100)

1

In [108]:
company = ['ola','uber','rapido']

def add_hashtag(*company):
    result = []
    for i in company:
        result.append('#' + i.upper())
    return result

In [111]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO']

In [15]:
def store_records(name,age,sec,roll_no,Class):
    data = {'Name': name, 'Age': age, 'Sec' : sec, 'Roll_no' : roll_no, 'Class': Class}
    import pandas as pd
    result = pd.DataFrame(data, index=[1])
    return result

In [16]:
display(store_records(name='prachi',age=19 ,sec='E2',roll_no=14 ,Class='BCA'))
display(store_records(name='anjali',age=19 ,sec='E2',roll_no=14 ,Class='BCA'))
display(store_records(name='roshni',age=19 ,sec='E2',roll_no=14 ,Class='BCA'))

     Name  Age Sec  Roll_no Class
1  prachi   19  E2       14   BCA

     Name  Age Sec  Roll_no Class
1  anjali   19  E2       14   BCA

     Name  Age Sec  Roll_no Class
1  roshni   19  E2       14   BCA

In [12]:
def student_records(**kwargs):
    import pandas as pd
    result = pd.DataFrame(kwargs, index=[1])
    return result

In [130]:
student_records(name='prachi', age= 19, sec= 'E2', address= 'delhi')

     name  age sec address
1  prachi   19  E2   delhi

In [7]:
def student_records(**kwargs):
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        #try
            #pass
        #except
            #pass
        data = pd.DataFrame(kwargs, index=[1])
        return data

In [9]:
student_records(name = 'Prachi', age = 19 , address = 'Delhi')

     name  age address
1  Prachi   19   Delhi

In [10]:
def student_records(**kwargs):# (*)convert multiple value into tuple , (**) convert into dictionary 
    
    import pandas as pd
    try:
        data = pd.DataFrame(kwargs)
        return data
    except:
        #try
            #pass
        #except
            #pass
        data = pd.DataFrame(kwargs, index=[1])
        return data

In [14]:
student_records(name = ['prachi','anjali','roshni'],
                age = [19,19,20],
                address = ['delhi','noida','gurgaon'],
                sec = list('ABC'))

     name  age  address sec
0  prachi   19    delhi   A
1  anjali   19    noida   B
2  roshni   20  gurgaon   C

In [4]:
def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()